<h4>students data</h4>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>class</th>
        <th>fatherName</th>
        <th>email</th>
        <th>dob</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.name}}td>
        <td></td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>